<app-navigation-bar></app-navigation-bar>
<div class="features-page-container">
  <div class="features-page-introduction">
    <h1 class="features-page-title">Features</h1>
  </div>
  <div class="feature-container">
    <div class="feature-description">
      <h2 class="feature-title">Notes</h2>
      <p class="feature-info">
        If you want to write down your goals to keep track of your progress, write a summary of a certain subject or write down certain thoughts and
        events to keep a journal of them, this is the perfect tool for you.
      </p>
    </div>
    <div class="feature-image">
      <img class="mat-elevation-z2" src="assets/images/notes.PNG" />
    </div>
    <div class="feature-description">
      <h2 class="feature-title">Goals</h2>
      <p class="feature-info">
        Setting goals helps trigger new behaviors, helps guides your focus and helps you sustain that momentum in life. Goals also help align your
        focus and promote a sense of self-mastery. In the end, you can't manage what you don't measure and you can't improve upon something that you
        don't properly manage.
      </p>
    </div>
    <div class="feature-image">
      <img class="mat-elevation-z2" src="assets/images/goals.PNG" />
    </div>
    <div class="feature-description">
      <h2 class="feature-title">Features Planned</h2>
      <p>Dashboard: Overview of all the sections the application has to offer.</p>
      <p class="feature-info">
        Calendar: Better for tracking your goals and setting realistic deadlines, notifications will be sent when the note/goal deadline is met.
      </p>
      <p>Reminders: Set a reminder and notifications will be sent in the application and email.</p>
      <p>Color changing notes/goals: Better for distinguishing certain notes from other and helps you better organize thins.</p>
      <p>More features to come... If you have any suggestions you can send them to me through the contact page!</p>
    </div>
    <div class="feature-image">
      <img class="mat-elevation-z2" src="assets/images/work%20in%20progress.png" />
    </div>
  </div>
</div>
