@import "src/variables";

:host {
  display: grid;
  grid-template-columns: auto 1fr;
  height: 100%;
  width: 100%;
  overflow: hidden;

  .goal-component-container {
    display: grid;
    grid-template-rows: auto 1fr;
    grid-gap: $base-gap * 4;
    width: 100%;
    height: 100%;
    justify-items: center;
    padding: $base-padding * 4;
    box-sizing: border-box;
    overflow: hidden;

    .goal-form {
      display: grid;

      .content-form-array {
        max-height: 55vh;
        overflow: auto;

        .content-container {
          display: grid;
          grid-template-columns: 1fr auto;
          grid-gap: $base-gap * 2;
          width: 100%;
          justify-items: center;
          align-items: baseline;

          .content-input {
            width: 100%;
          }
        }

        .content-buttons {
          display: grid;
          grid-template-columns: auto auto;
          grid-gap: $base-gap;

          button {
            color: white;
          }
        }
      }

      .goal-buttons {
        padding-top: $base-padding * 2;
      }
    }
  }

  .goals-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: $base-gap * 4;
    overflow: auto;

    .goal-container {
      display: grid;
      grid-template-rows: auto .05fr 1fr auto;
      justify-items: center;
      background-color: rgba($primary-100, 60%);
      width: 400px;
      height: 500px;
      overflow: hidden;
      border-radius: 4px;

      .goal-header-container {
        display: grid;
        justify-items: center;
        width: 100%;
        height: 100%;

        .goal-title {
          margin: 0;
          overflow-wrap: anywhere;
        }
      }

      .goal-body-container {
        //display: grid;
        width: 100%;
        height: 100%;
        background-color: rgba($primary-200, .1);
        overflow: auto;

        mat-checkbox {
          padding: $base-padding;
        }

        .goal-content {
          display: flex;
          align-items: center;

          .goal-body {
            display: block;
            justify-self: start;
            overflow-wrap: anywhere;
            overflow: auto;
            padding-top: $base-padding;
            padding-bottom: $base-padding;
          }

          input {
            border: none;
            -webkit-appearance: none;
            -moz-appearance: none;
            appearance: none;
            color: white;
            width: 350px;
            background: linear-gradient(90deg, $accent-100, $accent-100) center bottom/0 2.5px no-repeat,
            linear-gradient(90deg, rgba($primary-200, .5), rgba($primary-200, .5)) left bottom/100% 2.5px no-repeat;
            border-radius: 4px;
            outline: none;
            transition: background-size 0.3s ease;
          }

          input:focus {
            background-size: 100% 1px, 100% 1px, 100%;
          }


        }
      }
    }
  }
}

@media screen and (max-width: 950px) {
  :host {
    display: grid;
    grid-template-columns: unset;
    grid-template-rows: auto 1fr;
    height: 100%;
    width: 100%;
    overflow: hidden;

    .goal-component-container {
      .goal-form {
        .content-form-array {
          .content-container {
            grid-template-columns: unset;
            grid-gap: unset;
          }
        }
      }
    }

    .goals-container {
      grid-template-columns: 1fr;
      grid-gap: $base-gap;

      .goal-container {
        width: 300px;
        height: 400px;
      }
    }
  }
}
