@import "src/variables";

:host {
  display: grid;
  grid-template-rows: auto 1fr;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  justify-items: center;
  align-items: center;

  .contact-page-container {
    display: grid;
    width: 350px;
    justify-items: center;
    background-color: rgba($primary-100, 60%);
    padding: $base-padding * 5;
    border-radius: 4px;

    h1 {
      margin: 0;
      padding-bottom: $base-padding * 2;
    }
  }

  .contact-form {
    display: grid;
    width: 80%;
    justify-items: center;
    grid-gap: $base-gap * 2;

    mat-form-field {
      width: 100%;

      textarea {
        height: 200px;
        resize: none;
      }
    }

    button {
      width: 100%;
    }
  }

  @media screen and (max-width: 950px) {
    .contact-page-container {
      width: 250px;
    }

    .contact-form {
      width: 100%;
    }
  }
}
