<app-navigation-bar></app-navigation-bar>
<div class="contact-page-container mat-elevation-z2">
  <h1>Have a question?</h1>
  <form [formGroup]="contactForm" class="contact-form">
    <mat-form-field appearance="fill" color="accent">
      <mat-label>First Name</mat-label>
      <input autocomplete="false" formControlName="firstName" matInput required />
      <mat-error>This field is required.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" color="accent">
      <mat-label>Last Name</mat-label>
      <input autocomplete="false" formControlName="lastName" matInput required />
      <mat-error>This field is required.</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Textarea</mat-label>
      <textarea formControlName="textBody" matInput name="textSubject" required></textarea>
      <mat-error>This field is required.</mat-error>
    </mat-form-field>
    <button (click)="submitForm()" [disabled]="contactForm.invalid || contactForm.pristine" color="accent" mat-raised-button>Submit</button>
  </form>
</div>
