<app-navigation-bar></app-navigation-bar>
<div class="sign-up-container mat-elevation-z2">
  <h1>SIGN UP</h1>
  <form [formGroup]="signUpForm" class="sign-up-form">
    <mat-form-field appearance="fill" color="accent">
      <mat-label>E-mail</mat-label>
      <input autocomplete="false" formControlName="email" matInput required type="email" />
      <mat-error *ngIf="email?.errors?.['required']">Valid e-mail address is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" color="accent">
      <mat-label>Username</mat-label>
      <input autocomplete="false" formControlName="username" matInput required />
      <mat-error *ngIf="username?.errors?.['required']">Username is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" color="accent">
      <mat-label>Enter your password</mat-label>
      <input [type]="hide ? 'password' : 'text'" formControlName="password" matInput required />
      <mat-error *ngIf="password?.errors?.['required']">Password is required.</mat-error>
      <button (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" mat-icon-button matSuffix>
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>
    <mat-form-field appearance="fill" color="accent">
      <mat-label>Re-enter password</mat-label>
      <input [type]="hide ? 'password' : 'text'" formControlName="confirmPassword" matInput required />
      <mat-error *ngIf="confirmPassword?.errors?.['required']">Re-enter password is required.</mat-error>
    </mat-form-field>
    <mat-error *ngIf="signUpForm.errors?.['passwordsDontMatch']"> Passwords don't match !</mat-error>
    <button (click)="signUp()" color="accent" mat-raised-button>Sign Up</button>
  </form>
  <div class="sign-up-questions">
    <a routerLink="../log-in">Already a member ?</a>
  </div>
</div>
