<div class="navigation-bar mat-elevation-z2">
  <div class="logo">
    <span>uTask</span>
  </div>
  <ul>
    <li><a routerLink="../features" routerLinkActive="active">features</a></li>
    <li><a routerLink="../contact" routerLinkActive="active">contact</a></li>
    <li><a routerLink="../log-in" routerLinkActive="active">log in</a></li>
    <button color="accent" mat-raised-button routerLink="../sign-up">sign-up</button>
  </ul>
</div>

<div class="navigation-bar-mobile mat-elevation-z2">
  <div class="logo">
    <span>uTask</span>
  </div>
  <button [matMenuTriggerFor]="menu" mat-button><span class="material-icons-outlined"> menu </span></button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="../features">features</button>
    <button mat-menu-item routerLink="../contact">contact</button>
    <button mat-menu-item routerLink="../log-in">log in</button>
    <button mat-menu-item routerLink="../sign-up">sign-up</button>
  </mat-menu>
</div>
