<app-navigation-bar></app-navigation-bar>
<div class="log-in-container mat-elevation-z2">
  <h1>LOG IN</h1>
  <form [formGroup]="loginForm" class="log-in-form">
    <mat-form-field appearance="fill" color="accent">
      <mat-label>Email</mat-label>
      <input autocomplete="false" formControlName="email" matInput required />
      <mat-error *ngIf="email?.errors?.['required']">Valid email address is required</mat-error>
    </mat-form-field>
    <mat-form-field appearance="fill" color="accent">
      <mat-label>Enter your password</mat-label>
      <input [type]="hide ? 'password' : 'text'" formControlName="password" matInput required />
      <mat-error *ngIf="password?.errors?.['required']">Valid password is required.</mat-error>
      <mat-error *ngIf="!password?.errors?.['required']">Password is incorrect.</mat-error>
      <button (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide" mat-icon-button matSuffix>
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
    </mat-form-field>
    <button (click)="loginWithEmail()" color="accent" mat-raised-button>LogIn with Email</button>
    <button (click)="loginWithGoogle()" color="accent" mat-raised-button>LogIn with Google</button>
  </form>
  <div class="log-in-questions">
    <a routerLink="../sign-up">Not a member yet ?</a>
    <span>Forgot Password?</span>
  </div>
</div>
